# Dependencies
node_modules/

# Build
dist/
*.local

# Logs
*.log
npm-debug.log*

# Environment - SENSITIVE DATA
.env
.env.local
.env.*.local

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vercel
